html {
  position: relative;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
}

[data-toggle="tooltip"] {
  border-bottom: 1px dotted black;
}
